<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eric Zhu</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            flex-direction: column;
        }
        
        .links {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
        }
        
        .reach-out {
            font-weight: bold;
        }
    </style>
</head>
<body>
    <h1>Eric Zhu</h1>
    <p>I'm the co-founder of Aviato, which is the Bloomberg Terminal for private markets, and an Investor at Bachmanity Capital.</p>
    <p class="reach-out">Reach Out</p>
    <div class="links">
        <a href="https://twitter.com/login">Twitter</a>
        <a href="https://www.linkedin.com/">Linkedin</a>
        <a href="https://www.instagram.com/">Instagram</a>
        <a href="mailto:eric@example.com">Email</a>
    </div>
</body>



</html>
