
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stephen Alenkhe</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            flex-direction: column;
        }
        
        .links {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
        }
        
        .reach-out {
            font-weight: bold;
        }
    </style>
</head>
<body>
    <h1>Stephen Alenkhe</h1>
    <p><em>Currently working on thing</div>s that would change the world, thats all I can say for now. In the meantime I work as an Ai engineer at Intel. I also play American football :)</em></p>
    <p class="reach-out">Reach Out</p>
    <div class="links">
        <a href="https://www.linkedin.com/in/stephen-alenkhe-a276631b3/" target="_blank">LinkedIn</a>
        <a href="https://github.com/stvabc075" target="_blank">GitHub</a>
        <a href="https://yourcvwebsite.com/yourcv.pdf" target="_blank">CV</a>
        <a href="mailto:stephenalenkhe@outlook.com" target="_blank">Email</a>
    </div>
    <footer style="position: absolute; bottom: 0; left: 0; font-size: small;">Made by <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">Steve</a> in 2024</footer>
</body>



</html>
